.heroSection {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-bottom: 5%;
  overflow: hidden; 
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: top;
  z-index: -1;
}

.hero-text {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  z-index: 1;
  animation: slideInFromBottom 1.5s ease-in-out forwards;
  visibility: hidden;
  animation-delay: 2s;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .heroSection {
    height: 593px;
  }
}
@media (max-width: 768px) {
  .heroSection {
    height: 400px;
  }
  .hero-text {
    font-size: 3rem;
  }
}
@media (max-width: 544px) {
  .hero-text {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 376px) {
  .hero-text {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}
/* 
@media (max-width: 768px) {
  .hero-text {
    font-size: 3rem;
  }
}
@media (max-width: 544px) {
  .heroSection {
    height: 30vh;
  }
  .hero-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
} */

